{% block subject %}
    Your invoice no.{{ invoice.number }}
{% endblock %}

{% block body %}
    {% autoescape %}
        Download your invoice no.{{ invoice.number }} for #{{ order.number }} by clicking
        <a href="{{ url('bitbag_sylius_invoicing_plugin_download_order_invoice', {'orderTokenValue': order.tokenValue}) }}">this link</a>.

        <br/><br/>

        Thank you for your purchase.
    {% endautoescape %}
{% endblock %}
